<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PAV2ConnectionString" connectionString="Data Source=DESKTOP-AOAFIPR\SQLEXPRESS;Initial Catalog=PAV2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--
  string PUCHO = Data Source=DESKTOP-AOAFIPR\SQLEXPRESS;Initial Catalog=ProyectoArtemisa;Integrated Security=True
  string MARTIN = Data Source=DESKTOP-78GGV7H\MARTINDB;Initial Catalog=ProyectoArtemisa3;Integrated Security=True
-->
    <add name="ProyectoArtemisaConnectionString" connectionString="Data Source=DESKTOP-AOAFIPR\SQLEXPRESS;Initial Catalog=ProyectoArtemisa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!-- Login -->
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx"  />
    </authentication>
  </system.web>
  <!--Nombre de roles: admin, empleado, alumno-->
  <!--Cuando encuentra un permiso descarta todos los denegados-->
  <location path="ConsultarEditorial_25.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado, alumno" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarHistorialFactura_130">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarHistorialOrdenImpresion_129">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarLibroApunte">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado, alumno" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarOrdenImprsion_126">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarPrecioPorHoja_77">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsultarProveedor">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default">
    <system.web>
      <authorization>
        <allow roles="*" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarLibro_2">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarApunte_26">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarCarrera_10">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarCategoria_18">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarCiudad_101">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarEditorial_22">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarFacultad_65">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarMateria_6">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarPrecioXHoja_74">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarProfesor_14">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarProveedor_132">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarProvincia_105">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarUniversidad_69">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarUsuario">
    <system.web>
      <authorization>
        <allow roles="*" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegistrarVentaVentanilla_128">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--Reportes-->
  <location path="GenerarCierreVenta_143.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenerarComprobanteDeVenta_149.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenerarIngresoStockLibros_151.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="GenerarReporteResmasUtilizadas_146.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>