<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PAV2ConnectionString" connectionString="Data Source=DESKTOP-AOAFIPR\SQLEXPRESS;Initial Catalog=PAV2;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

  
  
  <!-- Login -->

  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" />
    </authentication>

  </system.web>


  <!--Nombre de roles: admin, empleado, alumno-->
  <!--Cuando encuentra un permiso descarta todos los denegados-->

  <location path="ConsultarEditorial_25.aspx">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado, alumno"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarHistorialFactura_130">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarHistorialOrdenImpresion_129">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarLibroApunte">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado, alumno"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarOrdenImprsion_126">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarPrecioPorHoja_77">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ConsultarProveedor">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Default">
    <system.web>
      <authorization>
        <allow roles="*"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarLibro_2">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/> 
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarApunte_26">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarCarrera_10">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarCategoria_18">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarCiudad_101">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarEditorial_22">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarFacultad_65">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarMateria_6">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarPrecioXHoja_74">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarProfesor_14">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarProveedor_132">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarProvincia_105">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarUniversidad_69">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarUsuario">
    <system.web>
      <authorization>
        <allow roles="*"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RegistrarVentaVentanilla_128">
    <system.web>
      <authorization>
        <allow roles="administrador, empleado"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>






</configuration>
