* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #a11f2c;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}
a{
  text-decoration: none;
  color: #fff;
}
a:link{
  text-decoration: none;
  color: #fff;
}

.btn-menu{
  display: none;
  padding:  20px;
  background: #a11f2c ;#0d2c44;
  color: #fff;
}

.btn-menu .icono{
  float: right;
}

.contenedor-menu{
  width; 100%;
  min-width: 300px;
  margin: 50px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

.contenedor-menu .menu {
  width: 100%;

}

.contenedor-menu ul {
  list-style: none;
}

.contenedor-menu .menu li a{
  color: #494949;
  display: block;
  padding: 15px 20px;
  background: #e9e9e9;
}

.contenedor-menu .menu li a:hover {
  background: #1a95d5;
  color: #fff;
  text-decoration: none;
}

.contenedor-menu .menu .icono {
  font-size: 12px;
  line-height: 28px;
}

.contenedor-menu .menu .icono.izquierda {
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu .icono.derecho {
  float: right;;
  margin-left:  10px;
}

.contenedor-menu .menu ul{
  display: none;
}
.contenedor-menu .menu  ul li a {
  background: #424242;
  color: #e9e9e9;
}

.contenedor-menu .menu .activado > a {
  background: #1a95d5
  text-decoration: none;
}

@media screen and (max-width: 700px)
{
  body{
    padding-top: 80px;
  }
  .contenedor-menu {
    margin: 0;
    width: 100%;
    position: fixed;
    top:0;
  }

  .btn-menu{
    display: block;
  }

  .contenedor-menu .menu{
    display: none;
  }

}
