body{
  margin: 0 auto;
  background-image: url(Background/Tablet1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

#div_form {
  background-color: #fefefe;
  padding-left: 30px;
  padding-top: 30px;
  box-shadow: 2px 2px 10px 2px #4f4f4f;


}
.txt{
    position: inherit;;
    font-family: "Roboto";
    font-size: 16px;
    color: #303F9F;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #BBDEFB;
    width:  100%;
  }


.textboxblanco{
background-color: rgb(255, 255, 255);
}

#img_educom{
  padding-left: 7px;
  padding-top: 350px;
}

#div_grilla {
  box-shadow: 2px 2px 20px 2px #000000;
  background-color: rgb(255, 255, 255);
}

.estilo_titulo{
  font-size: 30px;
  padding-left:  300px;
}

/*Estilo de botones*/
.btn_flat{
  border: none;
  border-radius: 0;
  //box-shadow: 2px 2px 15px 1px #000000;
}

.labelbajo{
  z-index: 1000;
}

.btn_azul{
  background-color: #22313f;
  color:rgb(255, 255, 255) ;
}

.btn_azul:hover{
  color: rgb(255, 255, 255);
  background-color: #2c3e50;
}
.btn_azul:focus{

  color: rgb(255, 255, 255);
}
.btn_rojo{
  background-color: #CF000F;
  color: rgb(255, 255, 255);
}

.btn_rojo:hover{
  color: rgb(255, 255, 255);
  background-color: #D91E18;
}

.btn_verde{
  background-color: #00b16a;
  color: rgb(255, 255, 255);
}

.btn_verde:hover{
  color: rgb(255, 255, 255);
  background-color: #2ecc71;
}
.btn_grande{
  border: 0px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

.crearCuenta{
  color: rgb(163, 163, 163);
}
