* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: #fff;
}
.btn-a{
  color: #fff;
  width: 100%;
  border: none;
  float: left;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
}

.

a:link{
  text-decoration: none;

}

.btn-menu{
  display: block;;
  padding:  20px;
  background:#cb0014; #0d2c44;
  color: #fff;
text-decoration: none;
position: fixed;
}

.btn-menu:hover{
  display: block;;
  padding:  20px;
  background:#cb0014;
  color: #fff;
  text-decoration: none;
}

.btn-menu:active{
  display: block;;
  padding:  20px;
  background: #cb0014;
  color: #fff;
}

.btn-menu:focus{
  display: block;;
  padding:  20px;
  background: #0d2c44;
  color: #fff;
}

.btn-menu .icono{
  float: right;
}

.contenedor-menu{
  z-index: 500;
  width: 15%;
  min-width: 260px;
  margin: 0px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  list-style: none;
  position: absolute;
  position: fixed;

}

.contenedor-menu .menu {
  width: 100%;
  padding-top: 60px;

}

.contenedor-menu .menu.oculto {
  display: none;

}

.contenedor-menu ul {
  list-style: none;

}

.contenedor-menu .menu li a{
  color: #494949;
  display: block;
  padding: 15px 20px;
  background: #e9e9e9;

}

.contenedor-menu .menu li a:hover {
  background: #1a95d5;
  color: #fff;
  text-decoration: none;

}
.contenedor-menu .menu li .btn-a{
  color: #494949;
  display: block;
  padding: 15px 20px;
  background: #e9e9e9;

}

.contenedor-menu .menu li .btn-a:hover {
  background: #1a95d5;
  color: #fff;
  text-decoration: none;

}

.contenedor-menu .menu .icono {
  font-size: 12px;
  line-height: 28px;
}

.contenedor-menu .menu .icono.izquierda {
  float: left;
  margin-right: 10px;
}

.contenedor-menu .menu .icono.derecho {
  float: right;;
  margin-left:  10px;
}

.contenedor-menu .menu ul{
  display: none;

}
.contenedor-menu .menu  ul li a {
  background: #424242;
  color: #e9e9e9;

}

.contenedor-menu .menu .activado > a {
  background: #1a95d5
  text-decoration: none;

}
.contenedor-menu .menu  ul li .btn-a {
  background: #424242;
  color: #e9e9e9;

}

.contenedor-menu .menu .activado > .btn-a {
  background: #1a95d5
  text-decoration: none;

}

@media screen and (max-width: 700px)
{
  body{
    padding-top: 80px;
  }
  .contenedor-menu {
    margin: 0;
    width: 100%;
    position: fixed;
    top:0;
  }

  .btn-menu{
    display: block;
  }

  .contenedor-menu .menu{
    display: none;
  }

}
